In [1]:
import pandas as pd

In [2]:
products_df = pd.read_csv("data\data_processed_gte25\products.csv")
orders_df = pd.read_csv("data\data_processed_gte25\orders.csv")

In [3]:
orders_df.rename(columns= {'product_list': 'product_id'}, inplace=True)

In [4]:
merged_df = pd.merge(orders_df, products_df, on='product_id', how='left')

In [5]:
merged_df['label'] = 0

In [6]:
df1 = merged_df[['product_id', 'order_dow', 'order_hour_of_day', 'product_name', 'aisle_id', 'department_id']].copy()

In [7]:
unique_ids = {prod_id: i for i, prod_id in enumerate(df1['product_id'].unique())}
unique_aisle = {a_id: j for j, a_id in enumerate(df1['aisle_id'].unique())}

df1['unique_product_id'] = df1['product_id'].map(unique_ids)+1
df1['unique_aisle_id'] = df1['aisle_id'].map(unique_aisle)+1

In [8]:
df2 = df1[['unique_product_id', 'order_dow', 'order_hour_of_day', 'unique_aisle_id', 'department_id','product_name']].copy()

In [9]:
df2.rename(columns= {'unique_product_id': 'product_id'}, inplace=True)
df2.rename(columns= {'unique_aisle_id': 'aisle_id'}, inplace=True)

In [10]:
df2

,product_id,order_dow,order_hour_of_day,aisle_id,department_id,product_name
0,1,5,9,1,16,Organic Egg Whites
1,2,5,9,2,4,Carrots
2,3,5,9,3,13,Garlic Powder
3,4,5,17,4,16,Unsweetened Chocolate Almond Breeze Almond Milk
4,5,5,17,4,16,Unsweetened Almondmilk
...,...,...,...,...,...,...
323700,934,4,16,36,16,Light Semisoft Cheese
323701,68,0,13,38,12,Boneless Skinless Chicken Breasts
323702,316,0,13,41,9,Organic White Basmati Rice
323703,464,0,13,41,9,Organic Short Grain Brown Rice
323704,329,0,13,4,16,Original Enriched Rice Drink

In [11]:
df2.to_csv("data\eval_dataset.csv", index=False)